# Environment Configuration
.env
.env.*

# Editor settings
.idea/
.vscode/

# Dependency directory
node_modules

# React Router generated types
.react-router/

# Test coverage directory
coverage

# Ignore Apple macOS Desktop Services Store
.DS_Store

# Logs
logs
*.log

# extensions build output
extensions/*/build
extensions/*/dist

# lock files




# Ignore shopify files created during app dev
.shopify/*
.shopify.lock

# Named Shopify app environment configs
shopify.app.*.toml
